# This file is managed by Shepherd, see https://github.schibsted.io/ab/shepherd
registry = https://registry.npmjs.org/
# Forces npm to auth all request, which is needed for Artifactory
always-auth = true
# Forces everyone to run on the same version of node and npm
engine-strict = true
# Don't show the number of dependencies looking for funding
fund = false
# Suppress the update notification when using an older version of npm
update-notifier = false
